<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ChessParov | Home 🐟</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./javascripts/getNews.js"></script>
</head>


<body>
  <main>

    <aside class="">
      <article class="">
        <h1>Title</h1>

        <% people.forEach((person, index) => { %>
          <p>
            <%= `name: ${person.name}, message: ${person.message}.` %>
          </p>
          <% }); %>

            <script>
              // console.log(articles);

            </script>


            <article id="people">

            </article>

      </article>
    </aside>

  </main>
</body>

</html>
